<div class="row">
  <div class="col col-md-2">
    <%= render partial: "tags/index" %>
  </div>
  <div class="col col-md-3">
    <%= render partial: "tags/show" %>
  </div>
  <div class="col col-md-7">
    <%= render partial: "sheets/show" %>
  </div>
</div>
