<div class="partial tags-index-partial">
  <ul><% tags.each do |tag| %>
    <li>
      <% if tag == selected_tag %>
        <i><%= tag.title %></i>
      <% else %>
        <%= tag.title %>
      <% end %>
    </li>
  <% end %></ul>
</div>
