<div class="partial tags_index_partial">
  <ul class="tag-list" style="list-style-type: none;"><% tags.each do |tag| %>
    <li>
      <div class='<%= tag.div_class ? tag.div_class : tag.fallback_icon %> tag_icon_partial'></div>
      <div class='tag_title_partial'>
        <% if tag == selected_tag %>
          <i><%= tag.title %></i>
        <% else %>
          <% if tag.sheets.length == 0 %>
            <%= link_to tag.title, sheets_path %>
          <% else %>
            <%= link_to tag.title, { controller: 'sheets', action: 'show', id: tag.sheets.first.id, tag: tag.id } %>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %></ul>
</div>
