<div class="partial tags-index-partial">
  <ul class="tag-list"><% tags.each do |tag| %>
    <li>
      <span class='<%= tag.div_class ? tag.div_class : tag.fallback_icon %>'></span>
      <span class='tag_title'>
        <% if tag == selected_tag %>
          <i><%= tag.title %></i>
        <% else %>
          <% if tag.sheets.length == 0 %>
            <%= link_to tag.title, sheets_path %>
          <% else %>
            <%= link_to tag.title, { controller: 'sheets', action: 'show', id: tag.sheets.first.id, tag: tag.id } %>
          <% end %>
        <% end %>
      </span>
    </li>
  <% end %></ul>
</div>
