<div class="partial tags-show-partial">
  <div class="tags-show-partial-head">
    <h5><%= tag.title %></h5>
  </div>

  <% tag.sheets.each do |sheet| %>
      <% if sheet == selected_sheet %>
        <div class="tags-show-partial-element selected">
          <h4><%= sheet.title %></h4>
        </div>
      <% else %>
        <div class="tags-show-partial-element">
          <h4><%= link_to sheet.title, { controller: 'sheets', action: 'show', id: sheet.id, tag: tag.id } %></h4>
        </div>
      <% end %>
  <% end %>
</div>
