<div class="partial tags-show-partial">
  <h3><%= tag.title %></h3>
  <ul><% tag.sheets.each do |sheet| %>
    <li>
      <% if sheet == selected_sheet %>
        <i><%= sheet.title %></i>
      <% else %>
        <%= link_to sheet.title, { controller: 'sheets', action: 'show', id: sheet.id, tag: tag.id } %>
      <% end %>
    </li>
  <% end %></ul>
</div>
