<div class="tag_button col-md-6">
  <div class='<%= tag.div_class ? tag.div_class : tag.fallback_icon %> col-md-1'></div>
  <div class='tag_title col-md-5'>
    <%= link_to tag.title , sheets_path %>
  </div>
</div>
