<% if tag.sheets.length != 0 %>
  <div class="tag_button col-md-6">
    <div class='<%= tag.div_class ? tag.div_class : fallback_icon %> col-md-1 tag_icon'></div>
    <div class='tag_title col-md-5'>
      <%= link_to tag.title, { controller: 'sheets', action: 'show', id: tag.sheets.first.id, tag: tag.id } %>
    </div>
  </div>
<% end %>
