<div class="container no-margin">

  <div class='block_tags_overview col-md-12'>
    <%= render @tags %>
  </div>

  <div class='block_read_items col-md-6'>
    <div class="head_item_tag">Most used cheatsheets</div>
    <div class="read_item">Facillimum id quidem est, inquam.</div>
    <div class="read_item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    <div class="read_item">Estne, quaeso, inquam, sitienti in bibendo voluptas?</div>
    <div class="read_item">Facillimum id quidem est, inquam.</div>
  </div>

  <div class="block_read_items col-md-6">
    <div class="head_item_tag">Latest cheatsheets</div>
    <div class="read_item">Facillimum id quidem est, inquam.</div>
    <div class="read_item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    <div class="read_item">Proclivi currit oratio?</div>
  </div>

</div>
