/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "./navbar";


/* GENERAL STYLING */

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 13px;
  background: #dddddd; /* Old browsers */
  background: -moz-linear-gradient(top,  #dddddd 0%, #edefef 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #dddddd 0%,#edefef 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #dddddd 0%,#edefef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#edefef',GradientType=0 ); /* IE6-9 */

}

h1, h3, h3 {
  font-family: 'Fjalla One', sans-serif;
}

a {
   color: #d59a9a;
}

.no-margin {
  margin :0;
}

// NAVBAR

.navbar {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  height: 50px;
  background: #edefef; /* Old browsers */
  background: -moz-linear-gradient(top,  #edefef 0%, #dddddd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #edefef 0%,#dddddd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #edefef 0%,#dddddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edefef', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */

  }

.navbar-brand {
  padding: 0;
}

.nav_logo {
  margin-top: 8px;
}
.nav_title {
  margin: 17px;
}
.nav_title a {
  font-family: 'Fjalla One', sans-serif;
  font-size: 28px;
  color: #414141;
}


/* FORM STYLING */
.field {
    margin-bottom: 10px;
}
.form-control {
  margin: 10px;
}
.btn {
  margin: 5px;
}
