@import "bootstrap-sprockets";
@import "bootstrap";
@import "./navbar";

.container, .col, .partial {
  height: 100%;
}
.tags-index-partial {
  background-color: #CCC;
}
.tags-show-partial {
  background-color: #DDD;
}
.sheets-show-partial {
  background-color: #EEE;
}
