// Place all the styles related to the sheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.block_left {
  padding-top: 20px;
  background-color: #893558;
  height: calc(100vh - 50px);
  overflow: auto;
}

.block_centre {
  background-color: #ecbebe;
  height: calc(100vh - 50px);
  padding: 0 !important;
  overflow: auto;
}

.block_right {
  background-color: #fff;
  height: calc(100vh - 50px);
  overflow: auto;
}

.link_tool {
  height: 30px;
  width: 30px;
  font-size: 20px;
  display: inline-block;
  float:right;
  color: #aaa;
}
