// Place all the styles related to the sheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// # INDEX STYLING

// tags overview block

.block_tags_overview {
  min-height: 50vh;
  padding: 20px 0;
  background-color: #893558;
}

.tag_title {
  font-size: 28px;
}
.tag_icon {
  padding-top: 8px;
  color: #fff;
  font-size: 25px;
}

.icon-codaisseur {
  background: "/assets/codaisseur-logo-9a0e0d27d0709f6e9df039a3b531f44161aa4dfb04448eb52f822fba9006dba3.svg"
}

.tags_index_partial ul {
  padding: 0;
}

.tag_icon_partial {
  display: inline-block;
  margin-right: 10px;
  color: #d59a9a;
  height: 14px;
  width: 14px;
}

.tag_title_partial {
display: inline-block;
position: relative;
font-size: 18px;
color: #fff;
}


.tags-show-partial h4 {
  font-size: 14px;
  font-weight: 600;
  color: #601635;
}

.tags-show-partial-head {
  padding: 1px 10px;
  background: #fff;
  height: 30px;
}
.tags-show-partial-head h5{
  font-weight: 200;
  font-size: 12px;
}
.tags-show-partial-element {
  width: 100%;
  min-height: 50px;
  padding: 10px;
  border-top: 1px solid #893558;
  border-bottom: 1px solid #893558;
}
.tags-show-partial-element.selected {
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(213,154,154,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(213,154,154,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(213,154,154,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d59a9a',GradientType=0 ); /* IE6-9 */
}
.block_read_items {
  height: calc(50vh - 50px);
  padding-top: 20px;
  background: #fff;
}

.head_item_tag {
  font-weight: 800;
}
